/*模块1 model-1 本店信息*/
@media (min-width: 766px){
	.model-1{
		max-width: 1024px;
		margin: 0 auto;
		/*padding-top: 6.5rem;*/
    background-color: #eeeded;
	}
	.img{
		width: 100%;
		/* height: 25rem; */
		overflow: hidden;
	}
	.img img{
		width: 100%;
	}
	.model-1 h1{
		width: 100%;
    text-align: center;
    color: #000;
    font-size: 3.2rem;
    padding: 2rem;
    font-weight: bold;
    background-color: #fff;
	}
	.model-1 p{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.9rem;
    padding: 0 2rem;
    background-color: #fff;
	}
}

@media (max-width: 766px){
	.model-1{
		max-width: 1024px;
		margin: 0 auto;
		/*padding-top: 4.5rem;*/
    background-color: #eeeded;
	}
	.img{
		width: 100%;
		/* height: 15rem; */
		overflow: hidden;
	}
	.img img{
		width: 100%;
	}
	.model-1 h1{
		width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    background-color: #fff;
	}
	.model-1 p{
		width: 100%;
		text-align: center;
		color: #000;
		font-size: 1rem;
		padding: 0 1rem;
		background-color: #fff;
	}
}

/* 模块2 model-2 授课商户 ------------------------------------------*/
@media (max-width: 766px){
	.model-2{
		max-width: 1024px;
		margin: 0 auto
	}
	.model-2 h1{
		width: 100%;
		text-align: center;
		border-top: 3px solid #e3e3e3;
		margin-top: 1.2rem;
		line-height: 3.5rem;
		font-weight: bold;
		font-size: 1.2rem;
	}
	.model-2 ul li{
		width: 100%;
		height: 7rem;
	}
	.model-2 .left{
		height: 7rem;
    width: 50%;
    overflow: hidden;
    margin-left: 2%;
	}
	.model-2 .left img{
		width: 100%
	}
	.model-2 .right{
		height: 7rem;
    width: 48%;
    padding-left: 8%;
	}
	.model-2 .right h2{
		width: 100%;
    font-size: 1.3rem;
    padding: 1rem 0;
	}
	.model-2 .right p{
		color: #F6E800;
    font-size: 1rem;
	}
}
@media (min-width: 766px){
	.model-2{
		max-width: 1024px;
		margin: 0 auto
	}
	.model-2 h1{
		width: 100%;
		text-align: center;
		border-top: 3px solid #e3e3e3;
		margin-top: 2rem;
		line-height: 6.5rem;
		font-weight: bold;
		font-size: 2.2rem;
	}
	.model-2 ul li{
		width: 100%;
		height: 15rem;
	}
	.model-2 .left{
		height: 15rem;
    width: 50%;
    overflow: hidden;
    margin-left: 2%;
	}
	.model-2 .left img{
		width: 100%
	}
	.model-2 .right{
		height: 7rem;
    width: 45%;
    padding-left: 8%;
	}
	.model-2 .right h2{
		width: 100%;
    font-size: 2.5rem;
    padding: 1.5rem 0;
	}
	.model-2 .right p{
		color: #F6E800;
    font-size: 1.9rem;
	}
}

/*模块3 model-3 课程购买-------------------------------------------*/
@media (max-width: 766px){
	.model-3{
		max-width: 1024px;
		margin: 0 auto
	}
	.model-3 h1{
		width: 100%;
		text-align: center;
		border-top: 3px solid #e3e3e3;
		margin-top: 1.2rem;
		line-height: 3.5rem;
		font-weight: bold;
		font-size: 1.2rem;
	}
	.model-3 ul li{
		margin-bottom: 1.5rem;
    width: 100%;
    height: 8rem;
	}
	.model-3 .left{
		height: 7rem;
    width: 50%;
    overflow: hidden;
    margin-left: 2%;
	}
	.model-3 .left img{
		width: 100%
	}
	.model-3 .right{
		height: 7rem;
    width: 48%;
    padding-left: 8%;
	}
	.model-3 .right h2{
		width: 100%;
    font-size: 1.3rem;
    padding: 1rem 0;
	}
	.model-3 .right p{
		color: #F6E800;
    font-size: 1.2rem;
	}
	.model-3 .right p del{
		font-size: 0.8rem;
    color: #9B9B9B;
	}
}

@media (min-width: 766px){
	.model-3{
		max-width: 1024px;
		margin: 0 auto
	}
	.model-3 h1{
		width: 100%;
		text-align: center;
		border-top: 3px solid #e3e3e3;
		margin-top: 2rem;
		line-height: 6.5rem;
		font-weight: bold;
		font-size: 2.2rem;
	}
	.model-3 ul li{
		margin-bottom: 1.5rem;
    width: 100%;
    height: 16rem;
	}
	.model-3 .left{
		height: 15rem;
    width: 50%;
    overflow: hidden;
    margin-left: 2%;
	}
	.model-3 .left img{
		width: 100%
	}
	.model-3 .right{
		height: 7rem;
    width: 45%;
    padding-left: 8%;
	}
	.model-3 .right h2{
		width: 100%;
    font-size: 2.5rem;
    padding: 1.5rem 0;
	}
	.model-3 .right p{
		color: #F6E800;
    font-size: 2.5rem;
	}
	.model-3 .right p del{
		font-size: 1.5rem;
    color: #9B9B9B;
	}
}
